body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blocks {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: auto;
  gap: 20px;
  padding: 100px;
}
.blocks div:nth-child(4n + 3) {
  background-color: red;
}
.blocks div:last-child,
.blocks div:nth-last-child(1),
.blocks div:nth-last-child(3),
.blocks div:nth-last-child(4) {
  background-color: steelblue;
}
.blok {
  width: 50px;
  height: 50px;
  background-color: slategrey;
}
/*BUTTON*/
.button {
  background-color: #44d3a8;
  box-shadow: 0px 4px 4px rgba (0,  0,  0,  0.25);
  border-radius: 100px;
  border: none;
  padding: 32px 120px;
  margin: 10px 45px;
  font-family: Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: white;
}
.button-block {
  display: flex;
  align-items: center;
}
.button-block::before,
.button-block::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 12px;
  border-top: 2px solid #656e6c;
  border-bottom: 2px solid #656e6c;
}
